.dropdown-btn:hover {
  color: white;
}
.dropdown-btn {
  padding: 6px 8px 6px 32px;
  text-decoration: none;
  font-size: 25px;
  border: none;
  background: none;
  color: #ac3b61;
  display: block;
  cursor: pointer;
  outline: none;
}
.dropdown-container {
  display: none;
  padding-left: 8px;
}
.card {
  color: solid black;
  box-shadow: 0 4px 1px 0 rgba(0,0,0,6);
  transition: 0.3s;
  width: 75%;
  border-radius: 5px;
  background-color:#bab2b5;
}

.card:hover {
  box-shadow: 5px 10px 5px 5px red;
}

img {
  padding-top: 0%;
  border-radius: 10px/10px;
  margin-top:12%;
  height: 100px;
  width: 70px;
  transition: width 1s, height 1s;
  right: 60px;
  position: absolute;
  border: 1px solid black;
  box-shadow: 2px 2px 1px 1px grey;
}

img:hover {
  height: 200px;
  width : 150px;
}

.container {
  padding: 2px 16px;
  text-align: left;
}
body {
  font-family: "Lato", sans-serif;
  background-color: #ac3b61;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}

.sidepanel  {
  width: 0;
  position: fixed;
  z-index: 2;
  height: 100%;
  top: 0;
  left: 0;
  background-color: black;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 150px;
  border-top: 10px solid #ac3b61;
}

.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidepanel a:hover {
  color: #f1f1f1;
}

.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 8px 11px;
  border: none;
  position: fixed;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.openbtn:hover {
  background-color:#242582;
}

.active {
  background-color: black;
  color: white;
}
.header {
  background-color: #edc7b7;
  padding: 20px;
  text-align: center;
  border-top: 12px solid black;
  border-bottom: 12px solid black;
  color: #ac3b61;
  border-bottom-right-radius: 55px;
  border-top-left-radius: 55px;
}

#navbar {
  overflow: hidden;
}

#navbar a {
  background-color: #123c69;
  float: center;
  display: block;
  color: #ac3b61;
  font-style: italic;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-bottom-right-radius: 45px;
  border-right: 15px solid black;
}

.content {
  padding: 16px;
}

.sticky {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
}
#box {
  width: 80%;
  border: 2px solid black;
  padding: 10px;
  margin: 20px;
  overflow-wrap: break-word;
  background-color:none;
  text-align:left;
  border-bottom-right-radius: 25px;
}
a:link, a:visited {
    color : #ac3b61;
}
a:hover {
    color: blue;
}
.w3-animate-right {
    animation: animateright 1s
}
@keyframes animateright{
    from
        {right:-75px;}
    to
        {right:1;}
    }
}

#myProgress {
  width: 100%;
  background-color: #ac3b61;
}

#myBar {
  width: 0%;
  height: 10px;
  background-color: grey;
  position: absolute;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}